.funder-style {
	line-height: 0.5;
}
.issn-style{
	padding-top: 15px;
}
h5.compliant{
	color: #87aa3a;
	margin-bottom: 0;
}
.can-publish{
	color: #6e8270;
}
.result-info{
	margin-bottom: 0;
}
.compliant-link {
	text-decoration: underline;
	color: #6e8270;
}
.compliant-link:hover {
	color: #87aa3a;
}
.toggle-more-info {
	background-color: #435d39;
}
.toggle-text {
	color: #fff;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.additional-info {
	margin-top: 25px;
}
.link-box{
	border: 1px solid #414141;
	padding: 15px;
	-moz-box-shadow: inset 0px 0px 3px #ccc;
    -webkit-box-shadow: inset 0px 0px 3px #ccc;
    box-shadow: inset 0px 0px 3px #ccc;
    margin-bottom: 25px;
}